<html>
    <head>
        <title> {{ .title }} </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br/><br/>
        <h1 class="text-center">
            {{ .title }}
        </h1>
        <form action="{{ .redirectURL }}" method="POST" class="text-center">
            <input type="hidden" name="payment_status" value="{{ .payment_status  }}"/>
            <input type="hidden" name="payment_scheme" value="{{ .payment_scheme }}"/>
            <input type="hidden" name="user_defined_5" value="{{ .user_defined_5 }}"/>
            <input type="hidden" name="user_defined_1" value="{{ .user_defined_1 }}"/>
            <input type="hidden" name="user_defined_2" value="{{ .user_defined_2 }}"/>
            <input type="hidden" name="customer_email" value="{{ .customer_email }}"/>
            <br/><br/><br/><br/><br/>
            <button type="submit" class="btn btn-primary btn-lg">Done</button>
        </form>
    </body>
</html>